@model Microsoft.WindowsAzure.Management.MediaServices.Models.MediaServicesAccountGetResponse
@{
    ViewBag.Title = "Media Services Account";
}

<h2>Media Services Account</h2>


<h3>@Model.Account.AccountName</h3>
<div>Key: @Model.Account.AccountName</div>
<div>Storage Account: @Model.Account.StorageAccountName</div>
<div>Storage Account Key1: @Model.Account.StorageAccountKeys.Primary</div>
<div>Storage Account Key2: @Model.Account.StorageAccountKeys.Secondary</div>

